@using WebPortal.Models.Tourism
@model PersonalHomeViewModel
@{
    Layout = "_LayoutTourism";
}

@section PageName {
            Logo
}

@section Css {
    <link rel="stylesheet" href="~/css/tourism/index.css">
}

<div class="main-news">
    <div class="title-main"> @Model.Name you can read new title about Minsk</div>
    <div class="image-on-top">
        <img class="main-image" src="~/images/tourism/minsk.jpg" />
    </div>
</div>
<div class="bottom-lenta">
    <div class="small-news">
        <p class="title">News feed</p>
        <div class="news">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
            </p>
        </div>
        <div class="news">
            <p>
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut
                aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit
                esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla
                pariatur?
            </p>
        </div>
    </div>
    <div class="voting">
        <p class="title-view">You can see our Next Articles</p>
        <div class="votetrip">
            @foreach (var trip in Model.NextArticlePreview)
            {
                <div class="first-trip">
                    <p class="title">@trip.Title (will be ready in @trip.Days)</p>
                    <div class="image">
                        <img class="trip-image" src="@trip.URL" />
                        <div class="actions">
                            @if (trip.CanDelete)
                            {
                                <a class="action"
                                   href="/tourism/remove?id=@trip.Id">
                                    remove
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="searching-info">
    <form asp-action="Index" method="get">
        <p>You can see interesting fact about place or thing you would visit</p>
        <div class="input-field">
            @Html.TextBoxFor(x => x.SearchingPlace, new { placeholder = "Enter place name" })
        </div>
        <button>Search</button>
    </form>
</div>
<div class="info">
    @if (Model.WikiPageAboutPlace != null)
    {
        <div> @Model.WikiPageAboutPlace.Title </div>
        <div> @Model.WikiPageAboutPlace.Description </div>
        <div><a href="@Model.WikiPageAboutPlace.Url">Read more</a></div>
    }
</div>